services:
  postgres:
    image: postgres:15-alpine
    container_name: pytravel-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-pytravel}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  # backend:
  #   build:
  #     context: .
  #     dockerfile: src/Dockerfile
  #   container_name: pethome-backend
  #   environment:
  #     POSTGRES_USER: ${POSTGRES_USER:-postgres}
  #     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
  #     POSTGRES_DB: ${POSTGRES_DB:-pytravel}
  #     DB_HOST: postgres
  #     DB_PORT: 5432
  #   ports:
  #     - "8000:8000"
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #   volumes:
  #       - ./src:/app
  #   restart: unless-stopped

  backend:
    build:
      context: .
      dockerfile: src/Dockerfile
    container_name: pethome-backend
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-pytravel}
      DB_HOST: postgres
      DB_PORT: 5432
    ports:
      - "1255:8000"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
        - ./src:/app/src
    restart: unless-stopped


volumes:
  postgres_data:
